// #region Font Faces
@font-face {
  font-family: "DINRoundPro";
  src: url("./assets/fonts/DINRoundPro-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "DINRoundPro";
  src: url("./assets/fonts/DINRoundPro-Medi.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DINRoundPro";
  src: url("./assets/fonts/DINRoundPro-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DINRoundPro";
  src: url("./assets/fonts/DINRoundPro.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DINRoundPro";
  src: url("./assets/fonts/DINRoundPro-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
// #endregion

@mixin weather-header {
  header {
    padding: 50px 0;

    @include flex-center();

    #location--current-weather-container {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 5px 0;

      h1 {
        font-size: 4.25em;
        font-weight: bold;

        transform: translateY(-15px);

        position: relative;

        &:after {
          content: "°";
          position: absolute;
        }
      }
      h2 {
        font-size: 2em;
        font-weight: 500;
      }
      h3 {
        font-size: 1.5em;
        font-weight: 300;
      }
    }
  }
}

// Flex Center
@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}
// Quick border for testing
@mixin T($color: red, $width: 1px) {
  border: solid $color $width;
}

* {
  box-sizing: border-box;
  font-family: "DINRoundPro", sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

header {
  @include T;
  width: 100%;
  height: fit-content;
  padding: 50px 0;

  @include flex-center();
  
  #forecast-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0 15px;

    div {
      padding: 25px 25px;

      @include flex-center();
      flex-direction: column;
      
      border: solid black 1px;
      border-radius: 8px;

      img {
        width: 75%;
        aspect-ratio: 1;
        margin: 0 0 15px 0;
      }
      
      hr {
        width: 90%;
        height: 3px;
        background-color: black;
        opacity: 0.2;
        margin: 10px 0;  
      }

      h3 {
        font-size: 1.5em;
      }
      h2 {
        font-size: 1.25em;
      }
      h1 {
        line-height: 1.1em;
        font-weight: bold;
        font-size: 3.5em;
      
        position: relative;

        &:after {
          content: "°";
          position: absolute;
        }
      }
    }
  }
}