// #region Font Faces
@font-face {
  font-family: "DINRoundPro";
  src: url("./assets/fonts/DINRoundPro-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "DINRoundPro";
  src: url("./assets/fonts/DINRoundPro-Medi.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DINRoundPro";
  src: url("./assets/fonts/DINRoundPro-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DINRoundPro";
  src: url("./assets/fonts/DINRoundPro.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DINRoundPro";
  src: url("./assets/fonts/DINRoundPro-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
// #endregion

// Flex Center
@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}
// Quick border for testing
@mixin T($color: red, $width: 1px) {
  border: solid $color $width;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--background-color);
  border-radius: 100px;
  transition: background-color 250ms ease;

  &:hover {
    background-color: rgba(235, 235, 235, 0.4);
    transition: background-color 250ms ease;
  }
}

::-webkit-scrollbar {
  height: 15px;
}

:root {
  --background-color: rgba(169, 204, 239, 0.8);
}

* {
  box-sizing: border-box;
  font-family: "DINRoundPro", sans-serif;
  font-weight: normal;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: linear-gradient(0deg, hsla(238, 86%, 62%, 1) 0%, hsla(228, 73%, 66%, 1) 45%, hsla(211, 100%, 83%, 1) 100%);
  backdrop-filter: blur(2px);
  background-image: url("./assets/background.jpg");
  background-position-y: 100vh;
  background-size: cover;
  color: rgb(28, 36, 54);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

hr {
  width: 90%;
  height: 3px;
  background-color: black;
  opacity: 0.2;
  margin: 10px 0;  
}

header {
  @include flex-center;
  flex-direction: column;
  // padding-top: 85px;

  #current-icon {
    height: 125px;
    
    position: absolute;
    top: -15px; left: 50%;
    transform: translateX(-50%);
  }
  #current-desc {
    font-weight: 500;
    font-size: 1.75em;
  }
  #current-location {
    font-size: 1.25em;
  }
  #current-temp {
    font-weight: bold;
    font-size: 4em;
    transform: translateY(-10px);
    position: relative;

    &::after {
      content: "°";
      position: absolute;
    }
  }

  #title {
    min-width: fit-content;
    width: 300px;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }

  input[type="text"] {
    width: 400px;
    min-width: fit-content;
    padding: 10px 25px;

    background-color: transparent;
    
    font-size: 1em;
    font-family: "DINRoundPro";
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;

    background-color: var(--background-color);
    border-radius: 100px;
    outline: none;
    transition: background-color 250ms ease;

    &:hover {
      background-color: rgba(235, 235, 235, 0.4);
      transition: background-color 250ms ease;
    }
  }
  
  input[type="text"]::placeholder { color: inherit; }

  button {
    padding: 10px 25px;
    border-radius: 100px;
    font-weight: bold;
    background-color: var(--background-color);
    transition: background-color 250ms ease;

    &:hover {
      background-color: rgba(235, 235, 235, 0.4);
      transition: background-color 250ms ease;
    }
  }
}

#search-history {
  width: fit-content;
  max-width: 50%;
  height: fit-content;
  margin: 25px auto;
}
#search-history-clear, #search-history button {
  margin: 5px;
  padding: 5px 15px;
  border-radius: 100px;
  background-color: var(--background-color);
  transition: background-color 250ms ease;

  &:hover {
    background-color: rgba(235, 235, 235, 0.4);
    transition: background-color 250ms ease;
  }
}

#forecast {
  width: 100%;

  @include flex-center();
  
  #forecast-container {
    width: 75%;
    display: grid;
    padding-bottom: 10px;
    border-radius: 16px;
    grid-template-columns: repeat(5, 1fr);
    gap: 0 15px;

    overflow-x: scroll;

    div {
      width: 100%;
      min-width: max-content;
      height: min-content;
      max-height: fit-content;
      background-color: var(--background-color) !important;
      padding: 25px 25px;
      text-align: center;

      @include flex-center();
      flex-direction: column;
      justify-content: flex-start;

      border-radius: 8px;    

      img {
        width: 100px;
        height: auto;
      }

      .forecast-details {
        align-items: center;
        justify-content: center;
        
        margin-top: 15px;
        background-color: rgba(235, 235, 235, 0.1) !important;

        img {
          width: 50px; 
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;

          grid-row: 1;
          grid-column: 1 / span 2;
        }
      }
      
      .forecast-date {
        font-size: 1em; 
        margin: 10px 0;
      }
      .forecast-desc {
        white-space: nowrap;
        font-size: 1.5em;
        font-weight: 500;
      }
      .forecast-location {
        font-size: 1.25em;
      }
      .forecast-temp {
        line-height: 1.1em;
        font-weight: bold;
        font-size: 3.5em;
      
        position: relative;

        &:after {
          content: "°";
          position: absolute;
        }
      }
    }
  }
}