// #region Font Faces
@font-face {
  font-family: "DINRoundPro";
  src: url("./assets/fonts/DINRoundPro-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "DINRoundPro";
  src: url("./assets/fonts/DINRoundPro-Medi.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DINRoundPro";
  src: url("./assets/fonts/DINRoundPro-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DINRoundPro";
  src: url("./assets/fonts/DINRoundPro.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DINRoundPro";
  src: url("./assets/fonts/DINRoundPro-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
// #endregion

@mixin weather-header {
  header {
    padding: 50px 0;

    @include flex-center();

    #location--current-weather-container {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 5px 0;

      h1 {
        font-size: 4.25em;
        font-weight: bold;

        transform: translateY(-15px);

        position: relative;

        &:after {
          content: "°";
          position: absolute;
        }
      }
      h2 {
        font-size: 2em;
        font-weight: 500;
      }
      h3 {
        font-size: 1.5em;
        font-weight: 300;
      }
    }
  }
}

// Flex Center
@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}
// Quick border for testing
@mixin T($color: red, $width: 1px) {
  border: solid $color $width;
}

* {
  box-sizing: border-box;
  font-family: "DINRoundPro", sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

#weather-body {
  width: 75%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: calc(25% - 50px) calc(75% - 50px);
  grid-row: 1fr 1fr;
  padding: 25px 0;
  justify-content: center;

  background-color: rgba(245, 245, 245, 1);
  border-radius: 50px;

  hr {
    opacity: 0.25;
    background-color: black;
    height: 3px;
    margin: 25px auto;
  }

  #weather-body--current-location {
    height: 250px;
    width: 100%;

    grid-row: 1;
    grid-column: 2;

    @include weather-header();
  }

  #weather-body--search {
    width: 100%;
    grid-row: span 2;
    grid-column: 1;

    input[type="text"],
    button {
      width: 75%;
      border: solid black 1px;
      border-radius: 4px;
    }
    input[type="text"] {
      padding: 5px 10px;
      outline: none;
    }

    #location-searchbar-container {
      h1 {
        border-bottom: solid black 1px;
      }
    }

    #preset-locations {
      @include flex-center();
      flex-direction: column;
      gap: 15px 0;
    }
  }

  #weather-body--5day {
    width: 100%;

    grid-row: 2;
    grid-column: 2;
    @include flex-center();

    ul {
      border: solid red 1px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: fit-content;

      li {
        height: fit-content;
        // padding: 5px 10px;
        // margin: 0 10px;

        // display: grid;
        // grid-template-columns: min-content 1fr 1fr;
        // grid-template-rows: 100%;

        @include flex-center();
        @include T(green, 2px);

        border: solid black 1px;
        border-radius: 8px;
      
                

      }
    }
  }
}
